In [ ]:
print("This is my first program")

In [ ]:
student_1 = "N Ansari"
student_2 = "Praveen"

In [ ]:
student_1
_student
Student_1

In [2]:
$student = "Shaikh"

SyntaxError: invalid syntax (2456119141.py, line 1)

In [3]:
20student = "Shaikh"

SyntaxError: invalid decimal literal (3494741742.py, line 1)

In [5]:
student1="Shashank"

In [6]:
student$ = "Shashank"

SyntaxError: invalid syntax (3055678093.py, line 1)

In [ ]:
student20 = "Shashank"
student2^ = "Shashank"
1student = "Shashank"
Stud1ent = "Shashank"

In [8]:
student20 = "Shashank"

In [9]:
student2^ = "Shashank"

SyntaxError: invalid syntax (1513295489.py, line 1)

In [10]:
1student = "Shashank"

SyntaxError: invalid decimal literal (90917110.py, line 1)

In [12]:
Stud1ent = "Shashank"

In [18]:
# Declaring numeric data type

marks_student_1 = 98
dtype = type(marks_student_1)
print(dtype)


print(type(marks_student_1))

<class 'int'>
<class 'int'>

In [15]:
marks_student_2 = 99.5
print(type(marks_student_2))

<class 'float'>

In [16]:
marks_student_3 = 3+4j

In [17]:
print(type(marks_student_3))

<class 'complex'>

## Q1 Declare three different variables of int,float and complex and print their data types

In [19]:
student_1_name = "Kritika"
student_2_name = "Shashank"
student_3_name = 'kritika'
student_4_name = """Tulashi"""
print(type(student_1_name))

<class 'str'>

In [20]:
print(type(student_2_name))
print(type(student_3_name))
print(type(student_4_name))

<class 'str'>
<class 'str'>
<class 'str'>

In [21]:
student_1_name[6]

'a'

In [22]:
student_1_name[0]

'K'

In [23]:
student_1_name[3]

't'

In [24]:
student_5_name = "Aarushi"
student_5_name[6]

'i'

## My class has 5 students and I want to store their marks

In [25]:
student_1 = 50
student_2 = 80
student_3 = 56
student_4 = 89
student_5 = 26

In [26]:
student_marks = [50,80,56,89,26]
print("marks of student 5 = ",student_marks[4])

marks of student 5 =  26

In [32]:
random_list = ["Raj","Ansari","Kritika",90,96,200.65]

In [33]:
#memory address of random list
id(random_list)

2206741749440

In [34]:
#memory address of Raj
id(random_list[0])

2206730494448

In [35]:
random_list[0]="Nayva"

In [36]:
id(random_list[0])

2206740713584

In [37]:
random_list[0]="Raj"
id(random_list[0])

2206730494448

In [30]:
random_list

['Nayva', 'Ansari', 'Kritika', 90, 96, 200.65]

In [31]:
id(random_list)

2206735571520

## Tuple

In [38]:
random_tuple = ("Raj","Ansari","Kritika",90,96,200.65)
print(type(random_tuple))

<class 'tuple'>

In [40]:
random_tuple[0]="Navya"

TypeError: 'tuple' object does not support item assignment

# create a tuple and a list and print their values

In [72]:
## Set:

set_1 = {"Maths","Physics","Chemistry","Chemistry"}
print(set_1)

{'Chemistry', 'Maths', 'Physics'}

In [43]:
set_1[0]

TypeError: 'set' object is not subscriptable

In [45]:
# set_1.update()
set_1.remove("Maths")

In [52]:
set_1.update({"Biology"})

In [53]:
set_1

{'Biology', 'Chemistry', 'Maths', 'Physics'}

In [56]:
set_2 = {("Two","Three"),"Python","Java"}

In [57]:
set_2

{('Two', 'Three'), 'Java', 'Python'}

In [58]:
set_2 = {("Two","Three"),"Python","Java",[1,2]}

TypeError: unhashable type: 'list'

In [59]:
set_3 = {"abcd","efgh",set_2}

TypeError: unhashable type: 'set'

## Dictionary

In [60]:
degree_1 = {"Navya":"Btech","Arushi":"MCom"}

In [61]:
degree_2 = {"Arushi":"MCom","Navya":"Btech"}

In [63]:
degree_1 == degree_2

True

# Conversion of Data Types

In [64]:
# Implicit Type Conversion
a=5
b=6.5
c = a+b
print("type of a = ",type(a),"type of b",type(b)," type of c ", type(c))

type of a =  <class 'int'> type of b <class 'float'>  type of c  <class 'float'>

In [66]:
# Explict Type Conversion
a=5
print(type(a))
a = float(a)
print(type(a))

<class 'int'>
<class 'float'>

In [69]:
# Explicit Type Conversion
a=5
b="10"
# b = int(b)
print(a+b)

15

In [71]:
# Explicit type conversion
a=5
b="10"
b = int(b)
print(a+b)

15