In [6]:
greeting = "Hello welocome to Edyoda class for string"
query = "How did you find the class"
print(greeting,end=" ")
print(query)

Hello welocome to Edyoda class for string How did you find the class

In [7]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [11]:
name = input("Please enter your name")

Please enter your nameRaj

In [13]:
print(name)

Raj

In [24]:
my_string = "Hello my name is Raj Singhania how are you doing today"

In [20]:
split_string = my_string.split(' ')

In [21]:
print(split_string)

['Hello,', 'my,', 'name,', 'is,', 'Raj,', 'Singhania,', 'how,', 'are,', 'you,', 'doing,', 'today']

In [23]:
greeting_list = ['Hello,', 'my,', 'name,', 'is,', 'Raj,', 'Singhania,', 'how,', 'are,', 'you,', 'doing,', 'today']
" ".join(greeting_list)

'Hello, my, name, is, Raj, Singhania, how, are, you, doing, today'

In [26]:
my_string.find('Raj')

17

In [27]:
my_string = "Raj is a student of Edyoda B batch. Raj love coding in python. Raj has created a python scipt to print a table"

In [28]:
my_string.count("Raj")

3

In [30]:
my_string= 'Hello, my, name, is, Raj, Singhania, how, are, you, doing, today'
my_string.replace(",","")

'Hello my name is Raj Singhania how are you doing today'

In [34]:
my_string = "MY NAME IS RAJ"
print(my_string.isupper())

True

In [36]:
my_string.isupper()

True

In [38]:
my_string.lower()

'my name is raj'

In [40]:
title = "EdyOda"
title.istitle()

False

In [41]:
title.title()

'Edyoda'

In [46]:
my_string = "Hi my name is Rahul,I like code in python, It is my favorite programming language"

In [48]:
my_string.replace("I ","Rahul ")

'Hi my name is Rahul,Rahul like code in python, It is my favorite programming language'

In [51]:
my_str = "Edyoda"
for i in range(len(my_str)):
    print(my_str[len(my_str)-i-1],end="")

adoydE

In [54]:
my_str = "Edyoda"
reverse_str= ""
for i in range(len(my_str)-1,-1,-1):
    reverse_str = reverse_str + my_str[i]

In [55]:
reverse_str

'adoydE'

In [56]:
my_str

'Edyoda'

In [65]:
# Palindromes
orignial_str = 'teju ke papa ke jute'
reverse_str= ""
for i in range(len(orignial_str)-1,-1,-1):
    reverse_str = reverse_str + orignial_str[i]

In [66]:
reverse_str

'etuj ek apap ek ujet'

In [64]:
reverse_str == orignial_str

True