In [6]:
number = input()
list(number).pop()

23

'3'

In [2]:
number = input()

23

In [3]:
number

'23'

In [5]:
list(number).pop()

'3'

In [9]:
list(number)[-1]

'3'

In [12]:
# Program to check whether a number is even or odd

num=23

if num%2 ==0:
    print("Number is even")
    print("Another statement")

In [14]:
# Program to check whether a number is even or odd

num=22

if num%2 ==0:
    pass
print("Number is even")
print("Another statement")

Number is even
Another statement

In [18]:
#Program to check whether two numbers are greater,lesser or equal to each other

a = 12
b=12

if a>b:
    print(a," is greater than ",b)
elif a<b:
    print(a," is less than ",b)
else:
    print(a," is equal to ",b)

12  is equal to  12

In [23]:
#Nested If else

x = 53

if x>10:
    print(x ,"is greater than 10")
    
    if x>20:
        print(x," is greater than 20")
    else:
        print(x," is not greater than 20")

print("random stuff")

53 is greater than 10
53  is greater than 20

In [28]:
if x<100:
    print ("first 100 units no charge")
elif x>100:
    units_charge=x*5
    print ("units charge", unitscharge)
else :
    units_charge=x*10
    print ("units charge", unitscharge)

first 100 units no charge

In [31]:
unit = int(input())
if (unit <= 100):
    bill = unit * 0
elif (unit >= 101 and unit <=200):
    bill = 0 + ((unit - 100) * 5)
else :
    bill = 0 + 500 + ((unit-200) *10)

350

In [32]:
bill

2000

In [33]:
fruit_list = ["apple","cherry","banana","mango"]

In [34]:
print(fruit_list[0])
print(fruit_list[1])
print(fruit_list[2])
print(fruit_list[3])

apple
cherry
banana
mango

In [35]:
for element in fruit_list:
    print(element)

apple
cherry
banana
mango

In [37]:
marks = [50,60,70,80,100]
sum_marks=0
num_of_students = len(marks)
for mark in marks:
    sum_marks = sum_marks+mark
    
    
    
    
print("average ",sum_marks/num_of_students)
print(sum_marks)

average  72.0
360

In [38]:
360/5

72.0

In [40]:
sum(marks)/len(marks)

72.0

In [41]:
a=[10,12,15,16,1822]

In [42]:
print(type(a))

<class 'list'>

In [45]:
b=sum(a)

In [46]:
print(b)

1875