## While Loop

In [ ]:
i=1
while i<10:
    print(i)
    i=i+1
    i+=1 #shortand notation

In [ ]:
i=10
i = i*2
print(i)

In [ ]:
i=10
i *=2
print(i)

In [ ]:
i=10
i=i-10
print(i)

In [ ]:
i=10
i-=10
print(i)

In [ ]:
i=1
while i<10:
    print(i)

In [ ]:
if 1<2:
    pass

In [ ]:
i=1
while i<10:
    pass

In [ ]:
# Write a program to print the third largest number from a list of number

In [ ]:
a_list = [2,23,54,32,87,34,65,98]

In [ ]:
a_list = [1,2,2,3]
a_list.remove(2)

In [ ]:
a_list

In [ ]:
lst = [1,13,13,5,7,8,9]
count = 3

for i in range(count):
    larg = lst[0]
    for i in lst:
            if(larg < i):
                larg = i
    lst.remove(larg)

print(larg)

In [ ]:
lst = [2,23,54,32,87,34,65,98]

first_largest = -1
second_largest = -1
third_largest = -1

i=0
len_list = len(lst)
while(i<len_list):
    
    if first_largest < lst[i]:
        third_largest = second_largest
        second_largest = first_largest
        first_largest = lst[i]

    
    elif second_largest<lst[i]:
        third_largest=second_largest
        second_largest=lst[i]
    elif third_largest <lst[i]:
        third_largest=lst[i]
    
    i+=1

In [ ]:
first_largest

In [ ]:
second_largest

In [ ]:
third_largest

In [ ]:
# Print Multiplication Table
n = int(input())
for i in range(1, 11):
    print(n, "X", i, "=", n*i)

In [ ]:
i=1
i+=1

In [2]:
i=1
while i<8:
    if i==4:
        break
    print(i)
    i+=1

print("Broke out of while loop")

1
2
3
Broke out of while loop

In [6]:
i=0
while i<8:
    i+=1
    if i==4:
        break
    print(i)


print("Broke out of while loop")

1
2
3
Broke out of while loop

In [7]:
n = 5
mylist = [ ]
for i in range (1, n+1) :
    mylist.append ("*" *i) 
print("\n".join(mylist))

*
**
***
****
*****

In [8]:
n = 5
mylist = [ ]
for i in range (1, n+1) :
    mylist.append (" "*(n-i) + "*" *i) 
print("\n".join(mylist))

    *
   **
  ***
 ****
*****

In [9]:
print()

In [11]:
a = (1,2,3)

b = (1,2,3)

print(id(a)==id(b))

False

In [12]:
print(id(a))

2190293951680

In [13]:
print(id(b))

2190294305152